@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: rgb(104, 189, 162);
}

body {
  background-color: #fff;
  color: white;
}

.font-architect {
  font-family: var(--font-architect-daughter), cursive;
}

.font-roboto {
  font-family: var(--font-roboto), cursive;
}

@theme {
  --color-primary: rgb(104, 189, 162);
}
